@model IEnumerable<CMS.Entities.LDZCas>

@{
    ViewBag.Title = "LDZCases";
}

<h2>LDZCases</h2>

<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.EmailId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncidentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncidentDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaseStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>    
        <td>
            @Html.DisplayFor(modelItem => item.EmailId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncidentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncidentDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaseStatus)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            @*<form method="get" action="@Url.Action("Edit","LDZ")">
                <input type="submit" value="AddProvieder" />
            </form>*@
            @Html.ActionLink(linkText: "AddProvieder ", actionName: "Edit", controllerName: "LDZ", routeValues: new { lDZCaseId = item.LDZCaseId }, htmlAttributes: null)
            @*<input style="width:auto" type="submit" value="AddProvieder" onclick="location.herf='<%:@Url.Action("Edit","LDZ")%>'" />*@
        </td>
    </tr>
}

</table>
